# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencies
node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Vite build files
.vite/


#python venv
venv/
ai_model/venv/

#datasets
ai_model/datasets/

#python cache
__pycache__/


ai_model/__pycache__/


#backend
backend/.env
