/* src/styles/EventDetailsModal.css */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
}

.event-details-modal {
  background: white;
  padding: 2rem;
  margin: 10% auto;
  width: 300px;
  border-radius: 10px;
  text-align: center;
}
